/*
Theme Name: Commentpress Child
Theme URI: http://www.futureofthebook.org/commentpress/
Description: A demo child theme for Commentpress
Tags: buddypress, groupblog, two-columns, sticky-post, threaded-comments, paragraph-comments
Version: 1.0
Template: commentpress
Author: Christian Wach
Author URI: http://www.haystack.co.uk
*/

/* import parent css */
@import url("../commentpress/style.css");

/* deliberately empty: see `assets/css` for stylesheets */