/*
--------------------------------------------------------------------------------
The following styles show what can be done with a child theme to change the look
of a Commentpress site. The Theme Customizer in Wordpress 3.4 allows quite a lot
of changes to be made, but child themes allow much more to be done.

Some of the styles below refer to Commentpress in a Multisite BuddyPress context
and may not be relevant to your situation. Chop and change as you see fit.

When you're happy, use a minifier such as <http://www.refresh-sf.com/yui/> to
compress your CSS and paste it into `style-overrides.css`.

BUT...

Before you start editing and wondering why you're not seeing any changes to your
site, you will have to make a small adjustment to your `wp-config.php` file so
that Wordpress chooses this file instead of the minified one. Add this line:

define('SCRIPT_DEBUG', true);

somewhere in your `wp-config.php` file. Remove it when you've updated your 
minified file and want Wordpress to select that one instead.
--------------------------------------------------------------------------------
*/



/* 
--------------------------------------------------------------------------------
Fonts 
--------------------------------------------------------------------------------
*/

/* import the custom fonts from our font-squirrel archive */
@import url("../fonts/cabin-fontfacekit/stylesheet.css");
@import url("../fonts/eb-garamond-fontfacekit/stylesheet.css");

/* Cabin */
#title h1,
#title h1 a,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
body.settings #content h3,
body.settings.my-account #content h3,
body.settings.general #content h3,
body.directory.logged-in #content form.dir-form h3,
body.directory #content form.dir-form h3,
body.create-blog #content h3, 
body.registration #content h2, 
body.activation.activate #content h2, 
body.activate #content h3, 
body.directory.logged-in #content h3,
body.directory #content h3, 
body.group-create #content form.standard-form > h3,
#register-page #signup_form h2,
div#item-header h2,
ul#member-list h5,
ul#admins-list h5,
ul#mods-list h5,
ul#members-list h5,
span.highlight,
.item-title a,
div#message-thread strong a
{
	font-family: 'CabinRegular', Arial, sans-serif;
}

body.registration #content h4, 
body.group-create #group-create-body h2, 
body.group-create #group-create-body h3, 
body.directory.logged-in #content h4, 
body.group-create #content h4, 
body.group-admin #group-create-body h2, 
body.group-admin #group-create-body h3, 
body.group-admin #content h4, 
body.group-admin #content h3, 
body.group-admin #content h2,
body#main_blog div#item-header div#item-actions h3,
.profile h4,
/* BuddyPress Group Email Subscription compatibility */
h3.activity-subscription-settings-title
{
	font-family: 'CabinRegular', Arial, sans-serif;
}

/* Garamond */
#book_header #tagline,
body#main_blog div#item-header div#item-meta 
{
	font-family: 'EBGaramondRegular', Times, serif;
}




/* 
--------------------------------------------------------------------------------
Stylistic regularity 
--------------------------------------------------------------------------------
*/

#book_header #tagline 
{
	font-style: normal;
	font-size: 1em;
	color: #999;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
body.directory.logged-in #content form.dir-form h3,
body.directory #content form.dir-form h3,
body.create-blog #content h3, 
body.registration #content h2, 
#register-page #signup_form h2,
body.activation.activate #content h2, 
body.activate #content h3, 
body.directory.logged-in #content h3,
body.directory #content h3, 
body.group-create #content form.standard-form > h3,
body#main_blog div#item-header div#item-actions h3,
div#item-header h2,
ul#member-list h5,
ul#admins-list h5,
ul#mods-list h5,
ul#members-list h5,
span.highlight,
.item-title a
{
	text-transform: uppercase;
}

body#main_blog #content div#item-header h2
{
	font-size: 1.6em;
	margin: 0;
}

button, 
a.button, 
input[type="submit"], 
input[type="button"], 
input[type="reset"], 
ul.button-nav li a, 
div.generic-button a 
{
	color: #777;
	text-transform: none;
}





/* 
--------------------------------------------------------------------------------
Change some backgrounds and colours
--------------------------------------------------------------------------------
*/

/* Darkest Colour for header */
#book_header,
#footer
{
	/* 
	Using !important below overrides any changes to 'Header Background Colour' 
	made on the Commentpress settings page.
	*/
    background: #2c2622 !important;
}



/* main site */
body,
body#main_blog
{
	background: #38312D;
}

	body#main_blog form.dir-form,
	body#main_blog div.item-list-tabs,
	body#main_blog form#whats-new-form, 
	body#main_blog .home-page form#whats-new-form,
	body.directory #content h3, 
	body.group-create #content form.standard-form > h3,
	#register-page #signup_form h2,
	body.activation.activate #content h2,
	body.activation.activate #content h3,
	div#item-header,
	#content div.item-list-tabs#object-nav
	{
		background: #FC0;
	}
	
	#user_links ul li a, #user_links ul li a:link, #user_links ul li a:hover, #user_links ul li a:visited
	{
		background: #ddd;
	}
	
	#user_links ul li a, #user_links ul li a:link, #user_links ul li a:visited
	{
		color: #666;
	}
	
	#user_links ul li a:hover
	{
		color: #222;
	}
	
	body#main_blog div.item-list-tabs#subnav
	{
		background: #fff;
	}
	
	body#main_blog #item-body form#whats-new-form
	{
		background-color: #eee;
	}
	
	body#main_blog div#item-header div#item-meta 
	{
		font-size: 1.4em;
		line-height: 1.2;
		color: #fff;
	}
	
	




/* 
--------------------------------------------------------------------------------
List Items
--------------------------------------------------------------------------------
*/

ul.item-list li
{
	border-bottom: 1px solid #B5BFB2;
}

ul.item-list.activity-list > li
{
	padding-left: 14px;
    border-left: 10px solid #FC0;
    margin-top: 1px;
    margin-bottom: 1px;
}

ul.item-list.activity-list li.load-more
{
	padding-left: 0;
    border-left: 0;
}

div.activity-comments ul li
{
}

/* remove decoration on group pages */
body.group-home ul.item-list.activity-list > li
{
    border-left: none;
}

/* activity tab default */
#activity_sidebar li.groups
{
    border-left: 10px solid #FC0;
    margin-bottom: 1px;
}




/* 
--------------------------------------------------------------------------------
Footer
--------------------------------------------------------------------------------
*/

#footer
{
	border: 5px solid #2c2622;
}

#footer p
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	color: #fff;
}





/* 
--------------------------------------------------------------------------------
BuddyPress Group Email Subscription compatibility
--------------------------------------------------------------------------------
*/

/* default "get email updates" link on yellow */
.single-item #content.groupblog .group-subscription-div a 
{
	color: #fff;
}

/* where a groupblog is set, use grey */
.single-item #content.groupblog.groupblogtype-0 .group-subscription-div a,
.single-item #content.groupblog.groupblogtype-1 .group-subscription-div a,
.single-item #content.groupblog.groupblogtype-2 .group-subscription-div a 
{
	color: #ccc;
}





